USE [master]
GO
/****** Objeto: Database [HistorialClinicoDB] Fecha de script: 30/08/2026 7:18:21 ******/
CREATE DATABASE [HistorialClinicoDB]
GO
CREATE LOGIN [usuario_HistorialClinico]
WITH PASSWORD = '1234',
CHECK_POLICY = OFF,
CHECK_EXPIRATION = OFF
GO

USE [HistorialClinicoDB]
GO

/****** Objeto: User [usuario_HistorialClinico] Fecha de script: 30/08/2026 7:18:21 ******/
CREATE USER [usuario_HistorialClinico] FOR LOGIN [usuario_HistorialClinico] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_datareader] ADD MEMBER [usuario_HistorialClinico] 
GO
ALTER ROLE [db_datawriter] ADD MEMBER [usuario_HistorialClinico]
GO

/****** Objeto: Table [dbo].[HistorialClinico] Fecha de script: 30/08/2026 7:18:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HistorialClinico](
	[IdHistorialClinico] [int] IDENTITY(1,1) NOT NULL,
	[IdPaciente] [int] NOT NULL,
	[NumHistoria] [varchar](50) NOT NULL,
	[Diagnostico] [varchar](500) NULL,
	[Tratamiento] [varchar](500) NULL,
	[Fecha] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdHistorialClinico] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[HistorialClinico] ON 

INSERT [dbo].[HistorialClinico] ([IdHistorialClinico], [IdPaciente], [NumHistoria], [Diagnostico], [Tratamiento], [Fecha]) VALUES (1, 1, N'1', N'Prueba1', N'Prueba1', CAST(N'2026-08-25' AS Date))
SET IDENTITY_INSERT [dbo].[HistorialClinico] OFF
GO
/****** Objeto: Index [IX_HistorialClinico_IdPaciente] Fecha de script: 30/08/2026 7:18:21 ******/
CREATE NONCLUSTERED INDEX [IX_HistorialClinico_IdPaciente] ON [dbo].[HistorialClinico]
(
	[IdPaciente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
USE [master]
GO
