USE [master]
GO
/****** Objeto: Database [PacienteDB] Fecha de script: 30/08/2026 7:03:26 ******/
CREATE DATABASE [PacienteDB]
GO


CREATE LOGIN [usuario_paciente]
WITH PASSWORD = '1234',
CHECK_POLICY = OFF,
CHECK_EXPIRATION = OFF
GO

USE [PacienteDB]
GO

/****** Objeto: User [usuario_paciente] Fecha de script: 30/08/2026 7:03:27 ******/
CREATE USER [usuario_paciente] FOR LOGIN [usuario_paciente] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_datareader] ADD MEMBER [usuario_paciente] 
GO
ALTER ROLE [db_datawriter] ADD MEMBER [usuario_paciente]
GO

/****** Objeto: Table [dbo].[Pacientes] Fecha de script: 30/08/2026 7:03:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pacientes](
	[IdPaciente] [int] IDENTITY(1,1) NOT NULL,
	[Cedula] [varchar](20) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Apellido] [varchar](100) NOT NULL,
	[Direccion] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdPaciente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Pacientes] ON 

INSERT [dbo].[Pacientes] ([IdPaciente], [Cedula], [Nombre], [Apellido], [Direccion]) VALUES (1, N'1752327575', N'Prueba1', N'Prueba1', N'Av.Maldonado')
INSERT [dbo].[Pacientes] ([IdPaciente], [Cedula], [Nombre], [Apellido], [Direccion]) VALUES (2, N'1712345678', N'Ana', N'Torres', N'Quito')
SET IDENTITY_INSERT [dbo].[Pacientes] OFF
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ_Pacientes_Cedula] Fecha de script: 30/08/2026 7:03:27 ******/
ALTER TABLE [dbo].[Pacientes] ADD  CONSTRAINT [UQ_Pacientes_Cedula] UNIQUE NONCLUSTERED 
(
	[Cedula] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
USE [master]
GO
